<ion-view title="Averias" id="page12">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-settings"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div style="color:white;">
      <br>
      <p>
        <i style="">Local:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>20NOV. AVE. GALAXIA 200</p>
      <p>
        <i style="">Maquina:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>X.2.942</p>
      <p>
        <i style="">Tecnico:</i>
        <input type="text" name="fname" placeholder="Nombre" style="width:100px; 
margin-left:27px; display: inline-block;">
      </p>

    </div>
    <form id="averias-form9" class="list">
      <label class="item item-input" id="averias-textarea4">
        <span class="input-label">Descripcion</span><textarea placeholder=""></textarea></label>
    </form>
    <div style="color:white;">
      <br>
      <p>
        <i style="">MONEDAS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>Ingresadas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cobradas</p>
      <p>
        <input type="text" name="fname" placeholder="0" style="width:70px; 
margin-left:105px; display: inline-block;">
        <input type="text" name="fname" placeholder="0" style="width:70px; 
margin-left:20px; display: inline-block;">
      </p>
      <p>
        <i style="">ESTADO:</i>
        <input type="text" name="fname" placeholder="PENDIENTE" style="width:100px; 
margin-left:45px; display: inline-block;">
      </p>
      <br>
      <br>
    </div>
    <button id="averias-button25" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-android-checkbox-outline">Guardar</button>
    <button id="averias-button26" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-document-text">Ticket</button>
  </ion-content>
</ion-view>