<ion-view title="Maquinas" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-xbox"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <h3 id="maquinas-heading3" style="color:#FFFFFF;">Local:</h3>
    <h3 id="maquinas-heading4" style="color:#FFFFFF;">20NOV. AVE. GALAXIA 200</h3>
    <form id="maquinas-form6" class="list">
      <div>
        <img src="img/Zqf8TXOdQeercwacQLq2_gameco.jpg" style="display: block; width: 100%; height: 252px; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="recaudar" id="maquinas-button14" style="font-weight:500;font-size:20px;" class="button button-royal button-small button-block icon-left ion-ios-calculator">Recaudar</a>
      <a ui-sref="moverMaquina" id="maquinas-button15" style="font-weight:500;font-size:20px;" class="button button-royal button-small button-block icon-left ion-android-bus">Movimientos</a>
      <a ui-sref="averias" id="maquinas-button16" style="font-weight:500;font-size:20px;" class="button button-royal button-small button-block icon-left ion-settings">Averias</a>
      <a ui-sref="resumen" id="maquinas-button17" style="font-weight:500;font-size:20px;" class="button button-royal button-small button-block icon-left ion-document-text">Resumen</a>
    </form>
  </ion-content>
</ion-view>