<ion-view title="MoverMaquina" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-bus"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div style="color:white;">
      <br>
      <p>
        <i style="">Maquina:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>X.2.942</p>

      <p>
        <i style="">Local Origen:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>20NOV. AVE. GALAXIA 200</p>

      <p>
        <i style="">Local Destino:</i>
        <input type="text" name="fname" placeholder="20NOV. COLIMA 11" style="width:170px; 
margin-left:20px; display: inline-block;">
      </p>

      <p>
        <i style="">Estado:</i>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <button id="moverMaquina-button23" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-android-checkbox-outline">Confirmar</button>
  </ion-content>
</ion-view>