<ion-view title="Notas" id="page14">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-clipboard"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div>
      <br>
      <br>
      <p style="COLOR:WHITE; font-size:20px;">
        FECHA:&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18/11/2016
      </p>
      <br>
    </div>
    <form id="notas-form10" class="list">
      <label class="item item-input" id="notas-textarea5">
        <span class="input-label">Texto</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <button id="notas-button29" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-android-checkbox-outline">Guardar</button>
  </ion-content>
</ion-view>