<ion-view title="Prestamos" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-social-usd-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <h3 id="prestamos-heading11" style="color:#FFFFFF;">Local:</h3>
    <h3 id="prestamos-heading12" style="color:#FFFFFF;">20NOV. AVE. GALAXIA 200</h3>
    <div>
      <br>
      <br>
      <p style="color:white; font-size:20PX;">&nbsp;&nbsp;&nbsp;AL LOCATARIO:
        <i style="color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.0</i>
        <br>
        <br>&nbsp;&nbsp;&nbsp;FONDOS POR RECUPERAR
        <br>
        <i style="color:white;">
          <br>&nbsp;&nbsp;&nbsp;X.2.942:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0
          <br>&nbsp;&nbsp;&nbsp;GMMB.2.1770:&nbsp;&nbsp;&nbsp;&nbsp; 0
          <br>&nbsp;&nbsp;&nbsp;GMMB.2.1880:&nbsp;&nbsp;&nbsp;&nbsp; 0


        </i>

      </p>
    </div>
  </ion-content>
</ion-view>