<ion-view title="Recaudar" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-calculator"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div style="color:white;">
      <br>
      <p>Local:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20NOV. AVE. GALAXIA 200</p>
      <p>Maquina:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X.2.942</p>
      <p>Fecha:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18/11/2016&nbsp;&nbsp;&nbsp;&nbsp; Ant:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016-11-17</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cont. Entrada &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Caont. Salida</p>
      <p>
        <input type="text" name="fname" placeholder="0" style="width:100px; 
margin-left:35px; display: inline-block;">
        <input type="text" name="fname" placeholder="0" style="width:100px; 
margin-left:35px; display: inline-block;">
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXT</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        0</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PCB</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="fname" placeholder="0" style="width:100px; 
margin-left:35px; display: inline-block;">

      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EFECTIVO:
        <input type="text" name="fname" placeholder="0" style="width:100px; 
margin-left:35px; display: inline-block;">
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EFECTIVO CALCULADO:&nbsp;&nbsp;&nbsp;&nbsp;0</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DIFERENCIA CONT EXT:&nbsp;&nbsp;&nbsp;&nbsp;0</p>
    </div>
    <button id="recaudar-button21" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-social-usd">Recaudar</button>
    <button id="recaudar-button22" style="font-weight:500;font-size:20px;" class="button button-royal  button-block icon-left ion-document-text">Otros Datos</button>
  </ion-content>
</ion-view>