<ion-view title="Resumen" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-document-text"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div style="color:white;">
      <br>
      <p>
        <i style="color:white">Local:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>20NOV. AVE. GALAXIA 200</p>
      <p>
        <i style="color:white">Maquina:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Efectivo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Utilidad:</i>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <p>Total:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; $0.0&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$0.0&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $0.0</p>
    </div>
  </ion-content>
</ion-view>